body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #885df1;
  text-decoration: none;
}

.weather-app {
  background: #fff;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
  text-align: center;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 70%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #885df1;
  padding: 15px 25px;
  border: none;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-form-button:hover {
  background: #6b3bb5;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.weather-info {
  max-width: 55%;
}

.weather-app-city {
  margin: 0;
  font-size: 36px;
  line-height: 42px;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.7);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #f65282;
}

.weather-app-temperature-container {
  display: flex;
  align-items: center;
}

.weather-app-icon img {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  margin-left: 15px;
}

.weather-app-unit {
  margin-top: 10px;
  font-size: 28px;
  margin-left: 5px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding-top: 30px;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
